
#sidebar,
#menu-bar,
.nav-chapters,
.mobile-nav-chapters {
    display: none;
}

.page {
    margin-top: 0;
}

#page-wrapper.page-wrapper {
    transform: none;
    margin-left: 0px;
    overflow-y: initial;
}

#content {
    max-width: none;
    margin: 0;
    padding: 0;
}

.page {
    overflow-y: initial;
}

code {
    background-color: #e1e1e1;
    border-radius: 5px;

    /* Force background to be printed in Chrome */
    -webkit-print-color-adjust: exact;
}

pre > .buttons {
    z-index: 2;
}

a, a:visited, a:active, a:hover {
    color: #4183c4;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
}

pre, code {
    page-break-inside: avoid;
    white-space: pre-wrap;
}

.fa {
    display: none !important;
}

figure {
    page-break-inside: avoid;
}

/* for print */

@page {
    size: A4;
}

div.chapter, div.appendix {
    page-break-after: always;
}

@page :left {
    @bottom-left {
      content: counter(page);
    }
}
@page front-matter :left {
    @bottom-left {
      content: counter(page, lower-roman);
    }
}

.chapter-title {
    border-bottom: solid 1px gray;
    padding-bottom: 2px;
}

a {
    color: black !important;
}
.toc {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.toc li {
    list-style: none;
}


.chapter-title {  
    string-set: chapter_title content();
}
@page :left {
    @top-left {
      content: string(chapter_title);
    }
}

@page :right {
@top-right {
    content: string(chapter_title);
}
}

.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}


.toc a {
    background-color: white;
    padding-right: 10px;
}

.toc a::after {
    content: target-counter(attr(href url), page);
    position: absolute;
    right: 15px;
    background-color: white;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.toc {
    padding-left: 0px !important;
}

.toc li {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALklEQVQYGWP8////fwYsgAmLGFgILPH9+3eGjIwMBg8PD4a3b98iJLDpYiTZDgC3Ow+/0jh1fQAAAABJRU5ErkJggg==") repeat-x center; 
    margin-top: 5px;
}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
    color-adjust: exact !important;                 /*Firefox*/
}