<li class="chapter-item expanded">
    <a href="{{{ href }}}">
        <strong aria-hidden="true">
            {{{ index }}}.
        </strong>
        {{{ title }}}
    </a>
    {{{ children }}}
</li>
