<li class="chapter-item subsection expanded">
    <a href="{{{ href }}}">
        <strong aria-hidden="true">
            {{{ index }}}
        </strong>
        {{{ title }}}
    </a>
    {{{ children }}}
</li>
