<li class="chapter-item expanded">
    <a href="{{{ href }}}" class="{{#if beforeFirstChapter}}before-first-chapter{{/if}}">
        <strong aria-hidden="true">
            {{{ index }}}
        </strong>
        {{{ title }}}
    </a>
    {{{ children }}}
</li>
